body {
    font-family: 'Montserrat', sans-serif;
  }
  #logo {
    font-family: "EB Garamond", serif;
    font-size: 28px;
  }
  img{
    display: block;
    width: 20%;
    float: right;
    margin-right: 50px;
    margin-top: 50px;
}
