body{
    font-family: "Inter", sans-serif;
}
.hero{
    background-image: url(interior.jpg);
    background-size: contain;
}
#logo{
    font-family: 'EB Garamond', serif;
    font-size: 28px;
}
a:link,
a:visited {
  color: black;
}
h1, h2, p{
    text-align: center;
}

